{% extends 'shared/site.html' %}
{% block site_content %}
    <div class="text-center">
        <h1>Hello, {{ profile_user.username }}!</h1>
        <h5>This is your profile</h5>
        {% if object.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ object.profile_picture.url }}" alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <hr>
    {% if arts %}
        <h2 class='text-center'>These are the pieces of art you posted:</h2>
        <div class="row">
            <div class="row">
                {% for art in arts %}
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ art.image.url }}" class="card-img-top" alt="Image of {{ art.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ art.name }} <br /> <br /> Author: {{ art.author }}, {{ art.year }}</h5>
                                <p class="card-text">{{ art.description }}</p>

                                <a href="{% url 'art details' art.id %}" class="btn btn-primary">See
                                    details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h2>You have no pieces of art</h2>
            <a href="{% url 'create art' %}" class="btn btn-success">Add Piece of Art</a>
        </div>
    {% endif %}
{% endblock %}